<mat-card>
    <mat-card-header>
        <mat-card-title>
            Across Month
        </mat-card-title>
        <mat-card-subtitle>
            Month v Cases
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row pl-5 pr-5 ">
            <div class="col-md-4">
                <div *ngIf="bool" class="wrap pt-3">
                    <h6>Total Cases</h6>

                    <table class="head">
                        <tr>
                            <td>Month</td>
                            <td style="text-align: right;">Year {{year}}</td>
                            <td style="text-align: right;">{{lastMonthName}}</td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="inner_table">
                        <table>
                            <tr *ngFor="let d of keys;let in = index;">
                                <td>{{d}}</td>
                                <td style="text-align: right;">{{yearTotal[in].toLocaleString()}}</td>
                                <td style="text-align: right;">{{monthTotal[in].toLocaleString()}}</td>
                                <td style="font-size: x-small; color: gray;">
                                    {{diff[in].toLocaleString()}}
                                    <mat-icon *ngIf="diff[in]>=0">arrow_drop_up</mat-icon>
                                    <mat-icon *ngIf="diff[in]<0">arrow_drop_down</mat-icon>
                                </td>
                            </tr>
                            <!-- Some more tr's -->
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex bd-highlight">
                    <div class=" mr-auto bd-highlight " style="padding-left: 200px;">
                        <mat-slide-toggle color="primary" [(ngModel)]="checkedCumulative"
                            (change)="onCumulativeChange()">
                            Cumulative
                        </mat-slide-toggle>
                    </div>
                </div>
                <app-multi-line-chart [chartService]="menuService"></app-multi-line-chart>
            </div>
        </div>
    </mat-card-content>
</mat-card>