
<!--form (ngSubmit)="submit()">
  <div class="form-group col-3">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" [(ngModel)]="username" />
  </div>
  <div class="form-group col-3">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" [(ngModel)]="password" />
  </div>
  <div class="form-group col-3">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form-->

<div class="sidenav">
  <div class="login-main-text" style="background-color:rgb(219, 216, 241);color: black;" >
     <h2>DMHP<br> Login Page</h2>
     <p>Login from here to access.</p>
  </div>
</div>
<div class="h-100 main" style="background-color: rgb(219, 216, 241); overflow-y: hidden;background-image: url('/assets/login2.jpg');background-size: cover;" >
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
        <form (ngSubmit)="submit()">
           <div class="form-group">
              <label>User Name</label>
              <input type="text" name="username" class="form-control" placeholder="User Name" autocomplete="off" [(ngModel)]="username">
           </div>
           <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" class="form-control" autocomplete="off" placeholder="Password" [(ngModel)]="password">
           </div>
           <p style="color: red" *ngIf="error">Login Failed</p>
           <button type="submit" class="btn btn-black">Login</button>
           <!--button type="submit" class="btn btn-secondary">Register</button-->
        </form>
     </div>
  </div>
</div>
