<!-- <div class="col-sm-6 col-md-6"> -->

<!-- <div style=" display: flex; width: 50%; flex-direction: row;position: absolute;">
    <div style="width: 200px;margin-right: 25px;"> -->
        <div class="row">
            <div class="col">
                <div class="mb-2 card">
                    <!-- <div class="card-header">District Selected</div> -->
                    <div class="card-header">{{ region }}</div>
                    
                </div>
                
            </div>
            <div class="col">

                <div class=" mb-2 card">
                    <div class="card bg-secondary text-white">
                        <div class="card-header">Total : {{total_cases}}</div>
                        <!-- <div class="card-body">{{total_cases}}</div> -->
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col">
                
                <!-- <br> -->
            </div>
        <!-- </div>
    </div> -->
</div>
<div>
    <app-map [mapService]="mapService"></app-map>
</div>

<!-- </div> -->