<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style=" position: fixed;">
    <a class="navbar-brand">DMHP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- <a class="nav-link" (click)="Operations('2018')">Operations<span class="sr-only">(current)</span></a> -->

                <a class="nav-link" routerLink="/home/operations/2020/1" routerLinkActive="active">Operations<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/performance/2020" routerLinkActive="active">Performance Analysis</a>
            </li>
            <!--li class="nav-item">
                <a class="nav-link">Metrics</a>
            </li-->
        </ul>
        <div class="topnav-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link"  (click)="Capture()" style="cursor: pointer;">
                        <mat-icon>camera_enhance</mat-icon> Screenshot
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="LogOut()" style="cursor: pointer;">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<!--div  class="container-fluid p-3" style=" background-color: rgb(245, 245, 245);">
    <app-operational-home></app-operational-home-->
    <!--app-group-menu></app-group-menu>
    <app-operational-home *ngIf="isLoaded" [sideNavOption]="sideNavOption" [year]="year"></app-operational-home>
</div-->

